/*table*/

/* .table{
    margin-top: 1%;
    margin-left: 23%;
    margin-right: auto; 
     
} */
        /* topbar */
#topbar{
  margin: 0 ;
  margin-bottom: 0;
  padding: 0 ;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;  
  }
  a { 
    padding: 2%;
    color: white; 
    font-size: 20px;
  }
  #singout{
    float: left;
    margin-top: 2px;
    padding-top: -2%;
    margin-right: 3%;
    size: 14px;   
  }
  #singout a:visited {
    color: #afadad;
  }
  #singout a:hover {
    color:rgb(224, 222, 222);
  } 
  #Search{
      /* position: fixed;   */
      padding: 6px;
      border: none;
      margin-top: 18px;
      margin-right: 36px;
      font-size: 17px;
      padding-right: 60%         
  }


 /*sidebar*/
 ul {
    padding: 0;
    position: fixed;
    width: 195px;
    background-color: #dddddde9;
    height: 100%;
    margin-left: -1%;
    margin-top: 4%;
  }
  li a {
    display: block;
    color: #000;
    margin-top: 10%;
    padding: 8px 15px;
    margin-left: 10%;
    
    text-decoration: none;
    font-size: 20px; 
  }
  li a:hover {
    color: rgb(150, 148, 148);
  } 
  #home a:visited {
    color: rgb(0, 85, 255);
  }
  #home a:visited {
    color: rgb(0, 85, 255);
  }


/*img*/ 
.boxP a {
    font-size: small;
    height:5%;
    width:  auto;  
} 
  .boxP a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 3px;
    padding: 8px 15px;
    margin: -1%;
    text-decoration: none;
  }
  
  .boxP a:hover, a:active {
    background-color: gray;
    color: white;
  }
h1{
    margin-top: 6%;
    margin-left: 15%;
    /* margin-right: auto; */
} 

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: small;
  /* margin-right: 10%; */
  margin-left: 15%;
  margin-top: 2%;
  width: auto;

}

td, th {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddde9;
}