
.form{
  margin-top: 6%;
  margin-left: 15%;
}


table {
  font-family: arial, sans-serif;
  font-size: 9px;
  margin-top: 4%;
  margin-left: 15%;
  width: 31cm;

}

td, th {
  text-align: left;
  padding: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 2px;
  
  
} 

tr:nth-child(even) {
  background-color: #dddddde9;
}

a{
  color: #000;
  font-size: 9px;
  text-decoration: none;
}