/*table*/

/* .table{
    margin-top: 1%;
    margin-left: 23%;
    margin-right: auto; 
     
} */
        /* topbar */



/* img 
.boxP a {
    font-size: small;
    height:5%;
    width:  auto;  
} 
  .boxP a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 3px;
    padding: 8px 15px;
    margin: -1%;
    text-decoration: none;
  }
  
  .boxP a:hover, a:active {
    background-color: gray;
    color: white;
  } */
  
h{
  margin-left: 40%;
}

.form{
  margin-top: 6%;
  margin-left: 15%;
}


table {
  font-family: arial, sans-serif;
  font-size: 9px;
  margin-top: 4%;
   margin-left: 15%;
  /*margin-top: 2%; */
  width: 31cm;

}

td, th {
  text-align: left;
  padding: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 2px;
  
  
} 

tr:nth-child(even) {
  background-color: #dddddde9;
}

a{
  color: #000;
  font-size: 9px;
  text-decoration: none;
}